Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
src/
packaging/
builds/
bindings/
doc/
configure
libtool
*.log
*.gz
*.zip
*.la
*.swp
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
ci_build.sh
