Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
src/
!src/Makemodule.am
doc/
configure
libtool
*.log
*.gz
*.zip
*.la
*.swp
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt

# Distcheck workspace and archives
zproject-1.1.0/
zproject-1.1.0.tar.gz
zproject-1.1.0.zip

# Repositories downloaded by CI integration scripts
*.git/

# Travis build area
tmp/

# vagrant
.vagrant

# CLion / PyCharm
.idea

# editor backups
*~
